/* Start Responsive Desing 924px */
@media screen and (max-width: 924px) {
  h2 {
    font-size: 2.3em;
  }

  /* Start NAV */
  .ul-icon-nav {
    display: none;
  }

  /* Start Hero */

  /* Start About */
  .container-about {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top right, #000000e5, #00000011),
      url(media/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info-about {
    justify-self: center;
  }

  .info-about p {
    padding: 30px 0 70px 0;
  }

  .container-img {
    display: none;
  }

  .info-about {
    position: absolute;
    font-size: 1.2em;
  }

  /* Start Section Skills */

  /* Start section Experience */
  .jobs p {
    display: none;
  }

  .jobs h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 823px) {

  /*Start NAV*/
  .nav-links {
    flex-direction: column;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: #03091e;
    transition: top 0.4s;
    top: -100%;
  }

  .nav-links_active {
    top: 0;
    margin-top: 65px;
    left: 0px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #00f7ff;
  }

  .nav-links li {
    padding: 30px 0;
    align-items: center;
  }

  fother {}

  .buttonBars {
    display: block;
    position: relative;
    font-size: 1.7em;
    background: none;
    border: none;
    right: 20px;
    cursor: pointer;
  }

  .ul-icon-nav {
    display: flex;
  }

  /* Start About */

  /* Start Footer */
  .container-footer b {
    font-size: 13px;
  }

  .registrado {
    display: none;
  }
}



/* Start responsive desing  500px */
@media screen and (max-width: 500px) {

  /* Start NAV  */
  .buttonBars {
    left: 5 px;
  }

  /* Start Hero */
  .download {
    display: block;
    margin: 30px auto;
  }

  #hero {
    height: 80vh;
  }

  .container-hero {
    align-content: center;
  }

  .jobs .download {
    max-width: 100px;
  }

  .container-hero h3 {
    font-size: 1.7em;
  }

  /* Start abuot */
  .info-about p {
    display: none;
  }

  /* Start Skills */
  #skills {
    height: 90vh;
  }

  .icon-skills {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  /* Start  Experience */
  #experience {
    height: 70vh;
  }

  .jobs {
    grid-template-rows: repeat(3, 1fr);
  }

  .carta-img:nth-child(2) {
    width: 50px;
  }

  .carta-img:nth-child(3) {
    width: 50px;
  }

  .jobs {
    gap: 0;
  }

  .carta-img {
    box-shadow: none;
  }

  .jobs h3 {
    font-size: 1em;
  }

  .jobs a {
    width: 100%;
    font-size: 0.6em;
  }

  /* Start Contact */
  .container-contact {
    height: 80vh;
  }

  .form input,
  textarea {
    width: 350px;
  }

  /* Start Footer */
  .info-footer h3 {
    font-size: 1.7em;
  }

  .ul-icon-footer {
    margin: 12px 0;
  }

  .registrado {
    display: block;
    justify-self: center;
    font-size: 13px;
    padding: 0 0;
  }

  .whats {
    font-size: 40px;
  }
}